# Editor cruft.
*~
.*.swp

# Autoconf products.
Makefile
/autom4te.cache
build-aux/config.h
build-aux/stamp-h1
config.log
config.status
libtool
.deps/
.dirstamp
.libs/

# Build products.
*.pb-c.[ch]
*.pb.h
*.pb.cc
*.lo
*.o
*.la

# Address book data files.
*.ab
t/moo.c++.text
t/moo.c.text

# Test binaries.
/t/add_person
/t/c-dump
/t/list_people
/t/c-intake

# Generated parsing code.
protobuf-c-text/lexer.c
protobuf-c-text/parser.c
protobuf-c-text/parser.h
protobuf-c-text/parser.out
protobuf-c-text/lexer.re.c
