# Editor cruft.
*~
.*.swp

# Autoconf products.
Makefile
/autom4te.cache
build-aux/config.h
build-aux/stamp-h1
config.log
config.status
libtool
.deps/
.dirstamp
.libs/
protobuf-c-text/libprotobuf-c-text.pc

# Build products.
*.pb-c.[ch]
*.pb.h
*.pb.cc
*.lo
*.o
*.la

# Code coverage files.
/coverage.info
/htmlcov/
*.gcda
*.gcno

# Test generated cruft.
/t/addressbook.protoc-c.text
/t/addressbook.c.text
/t/addressbook.c.data
/t/broken_parse.out
/t/tutorial_test.c.data
/t/tutorial_test.c.text
/t/tutorial_test.protoc_c.text


# Test binaries.
/t/c-dump
/t/c-dump2
/t/c-parse
/t/c-parse2

# Generated parsing code.
protobuf-c-text/parse.c
